{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "warn",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  }
}
